
$colors: (
  primary: (75, 166, 249),
  orange: (255, 148, 32),
  gray-0: (73, 74, 79),
  gray-63: (127, 128, 147),
  gray-127: (171, 173, 193),
  gray-191: (218, 221, 230),
  gray-255: (246, 247, 255),
  hover: (124, 190, 250),
  white: (255, 255, 255),
  black: (0, 0, 0)
);
