
$colors: (
  primary: (75, 166, 249),
  darkest-gray: (73, 74, 79),
  dark-gray: (127, 128, 147),
  gray: (171, 173, 193),
  light-gray: (218, 221, 230),
  lightest-gray: (246, 247, 255),
  hover: (124, 190, 250),
  white: (255, 255, 255)
);
