
// private $_modules
//    map of user defined modules

$_modules: ();

// private $_prefixes
//    list of vendor prefixes

$_prefixes: (o, ms, moz, webkit);

// private $_tests
//    map of tests

$_tests: ();

// private $_breakpoints
//    map of media query breakpoints

$_breakpoints: (
  mobile: (
    portrait: 0,
    landscape: 0,
  ),
  tablet: (
    portrait: 0,
    landscape: 0,
  ),
  laptop: 0,
  desktop: 0,
);

// public $colors
//    map of colors

$colors: (
  primary: (75, 166, 249),
  orange: (255, 148, 32),
  gray-0: (73, 74, 79),
  gray-63: (127, 128, 147),
  gray-127: (171, 173, 193),
  gray-191: (218, 221, 230),
  gray-255: (246, 247, 255),
  hover: (124, 190, 250),
  white: (255, 255, 255),
  black: (0, 0, 0)
);

// private $sizes
//    list of sizes

$_sizes: ("small", "medium", "large");

// public $font-family
//    font-family to use

$font-family: "Open Sans", sans-serif;

// private $_icon-font
//    icon font-family to use

$_icon-font: "Icons";

// private $_font-formats
//    map of formats
//    @see =font-face

$_font-formats: (default: "eot", embedded-opentype: "eot?#iefix", woff: "woff", truetype: "ttf", svg: "svg#myfontregular");

// private $_fonts-path
//    directory of fonts

$_fonts-path: "bin/fonts/";

// private $_font-weights
//    map of shortcuts to combinations of font weights
//    @see $fonts

$_font-weights: (regular: (thin: 400), regular-bold: (thin: 400, thick: 700), light-bold: (thin: 100, thick: 700));

// private $_font-heights
//    list of font heights
//    @see $fonts

$_font-heights: (175%, 150%, 166.7%);

// private $_fonts
//    mapping font-size names to full styles

$_fonts: (
  12: (font-family: $font-family, font-size: 1.2rem, line-height: nth($_font-heights, 1), weights: map-get($_font-weights, regular)),
  14: (font-family: $font-family, font-size: 1.4rem, line-height: nth($_font-heights, 1), weights: map-get($_font-weights, regular)),
  16: (font-family: $font-family, font-size: 1.6rem, line-height: nth($_font-heights, 2), weights: map-get($_font-weights, regular-bold)),
  18: (font-family: $font-family, font-size: 1.8rem, line-height: nth($_font-heights, 2), weights: map-get($_font-weights, regular)),
  20: (font-family: $font-family, font-size: 2.0rem, line-height: nth($_font-heights, 2), weights: map-get($_font-weights, regular-bold)),
  26: (font-family: $font-family, font-size: 2.6rem, line-height: nth($_font-heights, 3), weights: map-get($_font-weights, light-bold)),
  32: (font-family: $font-family, font-size: 3.2rem, line-height: nth($_font-heights, 3), weights: map-get($_font-weights, light-bold)),
  40: (font-family: $font-family, font-size: 4.0rem, line-height: nth($_font-heights, 3), weights: map-get($_font-weights, light-bold)),
  50: (font-family: $font-family, font-size: 5.0rem, line-height: nth($_font-heights, 3), weights: map-get($_font-weights, light-bold)),0
  70: (font-family: $font-family, font-size: 7.0rem, line-height: nth($_font-heights, 3), weights: map-get($_font-weights, light-bold)),
);
