@include module("icon")
  display: inline-block
  font-family: $icon-font
  font-style: normal
  font-weight: normal
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


@include extend-module("icon", "call")
  &::before
    content: "c"
@include build-module("icon-call")

@include extend-module("icon", "code")
  &::before
    content: "E"
    font-size: 1.4em
@include build-module("icon-code")

@include extend-module("icon", "delete")
  &::before
    content: "D"
@include build-module("icon-delete")

@include extend-module("icon", "down-arrow")
  &::before
    content: "a"
@include build-module("icon-down-arrow")

@include extend-module("icon", "edit")
  &::before
    content: "e"
@include build-module("icon-edit")

@include extend-module("icon", "facebook")
  &::before
    content: "F"
@include build-module("icon-facebook")

@include extend-module("icon", "flashlight")
  &::before
    content: "f"
@include build-module("icon-flashlight")

@include extend-module("icon", "google-plus")
  &::before
    content: "+"
@include build-module("icon-google-plus")

@include extend-module("icon", "heart")
  &::before
    content: "h"
@include build-module("icon-heart")

@include extend-module("icon", "instagram")
  &::before
    content: "I"
@include build-module("icon-instagram")

@include extend-module("icon", "location")
  &::before
    content: "L"
@include build-module("icon-location")

@include extend-module("icon", "mail")
  &::before
    content: "M"
@include build-module("icon-mail")

@include extend-module("icon", "media")
  &::before
    content: "2"
    font-size: 1.8em
@include build-module("icon-media")

@include extend-module("icon", "menu")
  &::before
    content: "m"
@include build-module("icon-menu")

@include extend-module("icon", "mobile")
  &::before
    content: "o"
@include build-module("icon-mobile")

@include extend-module("icon", "people")
  &::before
    content: "1"
    font-size: 1.8em
@include build-module("icon-people")

@include extend-module("icon", "photo")
  &::before
    content: "p"
@include build-module("icon-photo")

@include extend-module("icon", "pinterest")
  &::before
    content: "P"
@include build-module("icon-pinterest")

@include extend-module("icon", "reload")
  &::before
    content: "3"
@include build-module("icon-reload")

@include extend-module("icon", "rss")
  &::before
    content: "B"
@include build-module("icon-rss")

@include extend-module("icon", "search")
  &::before
    content: "s"
@include build-module("icon-search")

@include extend-module("icon", "share")
  &::before
    content: "S"
@include build-module("icon-share")

@include extend-module("icon", "twitter")
  &::before
    content: "T"
@include build-module("icon-twitter")

@include extend-module("icon", "video")
  &::before
    content: "V"
@include build-module("icon-video")

@include extend-module("icon", "view")
  &::before
    content: "v"
@include build-module("icon-view")

@include extend-module("icon", "x")
  &::before
    content: "X"
@include build-module("icon-x")

@include extend-module("icon", "yield")
  &::before
    content: "Y"
    font-size: 1.25em
@include build-module("icon-yield")

@include extend-module("icon", "youvisit")
  &::before
    content: "y"
    font-size: 4em
@include build-module("icon-youvisit")
