
// input

@include module("input")
  @extend %block

// input-text

@include extend-module("input", "text")
  background-color: white
  border-color: color(gray)

  &:focus
    border-color: color(primary)
@include build-module-sizes("input-text", slice($sizes, 1, 2))

// input-select

@include extend-module("input", "select")
  background-color: white
  border-color: color(gray)

  &.active
    overflow: auto
    padding-bottom: 1.1rem
@include build-module("input-select")

@include module("input-select-item")
  width: 100%

@include extend-module("input-select-item", "placeholder")
  position: relative
  display: block

  &::after
    @extend .icon-down-arrow

    position: absolute
    right: 1.1rem
    top: 50%

    -webkit-transform: translateY(-50%)

    .active &
      -webkit-transform: scaleY(-1) translateY(50%)
@include build-module-size("input-select-item-placeholder", nth($sizes, 2))

@include extend-module("input-select-item", "option")
  float: left
  opacity: 0

  &:hover
    background-color: color(primary)
    color: white

  .active &
    opacity: 1
@include build-module-size("input-select-item-option", nth($sizes, 2))

// input-checkbox

@include module("input-checkbox")
  width: 1.5rem
  height: 1.5rem
  display: inline-block
  background-color: color(white)
  border: 1px solid color(gray)
  vertical-align: middle

  &.checked
    @include multiple(background-color border-color, color(primary))
@include build-module("input-checkbox")

// input-radio

@include module("input-radio")
  position: relative
  border-radius: 100%
  width: 2rem
  height: 2rem
  display: inline-block
  background-color: color(white)
  border: 1px solid color(gray)
  vertical-align: middle

  &.checked::after
    content: ""
    position: absolute
    top: 50%
    left: 50%
    -webkit-transform: translateY(-50%) translateX(-50%)
    border-radius: 100%
    width: 1.2rem
    height: 1.2rem
    background-color: color(primary)
@include build-module("input-radio")
