
// input

@include module("input")
  @extend %block

// input-text

@include extend-module("input", "text")
  background-color: white
  border-color: color(gray-127)
  color: color(gray-191)
  text-indent: 1rem

  &:focus
    border-color: color(primary)
    color: color(gray-0)
@include build-module-sizes("input-text", slice($sizes, 1, 2))

// input-select

@include module("input-select")
  background-color: white
  position: relative
  padding: 0
@include build-module-sizes("input-select", slice($sizes, 1, 2))

@include extend-module("input", "select-options")
  position: absolute
  top: 0
  left: 0
  z-index: 0
  background-color: white
  border-color: color(gray-127)
  width: 100%

  & .active
    overflow: auto
    z-index: 10
@include build-module("input-select-options")

@include module("input-select-item")
  width: 100%
  padding-left: 1rem

@include extend-module("input-select-item", "placeholder")
  position: relative
  pointer-events: none
  z-index: 1
  display: block

  @include multiple-v(display, prefix(flex))
  @include multiple(prefix(flex-direction), column-reverse)

  .active &
    z-index: 20

  &::before
    @extend .icon-down-arrow
    color: color(gray-127)
    position: absolute
    right: 1.1rem
    top: 50%

    -webkit-transform: translateY(-50%)

    .active &
      -webkit-transform: scaleY(-1) translateY(50%)
@include build-module-size("input-select-item-placeholder", nth($sizes, 2))

@include extend-module("input-select-item", "option")
  display: none

  &.invisible
    display: block

  &:hover
    background-color: color(primary)
    color: white

  .active & 
    display: block
    opacity: 1
@include build-module-size("input-select-item-option", nth($sizes, 2))

// input-checkbox

@include module("input-checkbox")
  width: 1.5rem
  height: 1.5rem
  display: inline-block
  background-color: color(white)
  border: 1px solid color(gray-127)
  vertical-align: middle

  &.checked
    @include multiple(background-color border-color, color(primary))
@include build-module("input-checkbox")

// input-radio

@include module("input-radio")
  position: relative
  border-radius: 100%
  width: 2rem
  height: 2rem
  display: inline-block
  background-color: color(white)
  border: 1px solid color(gray-127)
  vertical-align: middle

  &.checked::after
    content: ""
    position: absolute
    top: 50%
    left: 50%
    -webkit-transform: translateY(-50%) translateX(-50%)
    border-radius: 100%
    width: 1.2rem
    height: 1.2rem
    background-color: color(primary)
@include build-module("input-radio")
